body{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(3, 15, 56, 1);
    display: grid;
    grid-template-columns: 30% 70%;
    height: 215px; 
    z-index: 10;
}
.left{
    margin: 50px;
    padding-left: 110px;
    display: flex;
    align-items: flex-start;
}
.left svg{
    width: 107px;
    height: 59px;
}
.left div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 8px;
    padding-left: 10px;
}
.left div .one{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.left div .two{
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}
.right{
    display: flex;
    justify-content: flex-end;
    margin: 50px;
    padding-right: 100px;
}
.right .links ul{
    display: flex;
}
.right .links ul li{
    list-style-type: none;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}
.right .links ul li a{
    text-decoration: none;
    color: white;
}
.right .media{
    margin: 3px;
}
.right .media ul{
    padding: 0px;
    display: flex;
}
.right .media ul li{
    list-style-type: none;
    padding-left: 15px;
}
.right .media ul li i{
    color: white;
}
.right .links ul li a:hover{
    color: #05b9f2;
}
.right .links ul li .active{
    color: #05b9f2;
}
footer{
    padding: 0px;
    margin: 0px;
    background-color: rgb(3, 15, 56, 1);
    border-top: solid 1px;
    border-color: rgba(255, 255, 255, 0.116);
}
footer div{
    margin-top: 40px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer p{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
footer .social ul{
    display: flex;
    padding: 0px;
}
footer .social ul li{
    list-style-type: none;
    padding: 5px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}
footer .social ul li a{
    text-decoration: none;
    color: white;
}
main{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    background-color: rgb(3, 15, 56, 1);
}
main .one {
    padding: 0px;
    margin: 0px;
    background-color: rgb(3, 15, 56, 1);
    text-align: center;
}
main .one h1{
    padding: 0px;
    margin: 0px;
    font-size: 88px;
    color: #05b9f2;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 30px;
}
main .one div{
    padding-bottom: 100px;
}
.second{
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.second .icon i{
    height: 19px;
    width: 19px;
    color: #05b9f2;
}
.second .menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.second .menu ul{
    display: flex;
    padding: 0px;
    margin: 0px;
}
.second .menu ul li{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-family: 'Nunito Sans', sans-serif;
}
.second .menu ul li .move{
    text-decoration: none;
    color: #05b9f2;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
}
.second .menu ul li .non{
    text-decoration: none;
    color: #05b9f2;
    font-size: 18px;
    font-weight: bold;
}
.second .menu ul li .non:hover{
    cursor: pointer;
    color: white;
}
.second .menu ul li .move:hover{
    cursor: pointer;
    color: white;
}
.posts{
    width: 940px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.posts .first{
    width: 940px;
    height: 340px;
    background: transparent;
    border: solid white 1px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.posts .first .image{
    margin: 0px;
    padding: 0px;
    width: 470px;
    height: 340px;
    background-image: url(./assets/images/bg1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.posts .first .info{
    width: 470px;
    height: 340px;
    margin: 0px;
    padding: 0px;
}
.poster{
    padding: 24px;
    display: flex;
    justify-content: space-between;
}
.poster .userinfo{
    color: white;
    font-size: 12px;
    margin-right: 240px;
    padding-top: 10px;
}
.poster .icon i{
    color: white;
}
.poster img{
    width: auto;
    height: 42px;
}
.poster .userinfo p{
    padding: 0px;
    margin: 0px;
}
.info .title{
    color: white;
    padding-left: 24px;
    font-size: 22px;
}
.info .title p{
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
.info .blog{
    padding-left: 24px;
    width: 400px;
    height: 130px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
.info .comment{
    margin: 15px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-top: solid 0.5px rgba(255, 255, 255, 0.267);
}
.info .comment p{
    padding: 10px;
    margin: 0px;
    color: white;
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
}
.info .comment i{
    color: red;
    padding: 10px;
    margin: 0px;
}
.posts .first .image2{
    margin: 0px;
    padding: 0px;
    width: 470px;
    height: 340px;
    background-image: url(./assets/images/bg2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.posts .first .image3{
    margin: 0px;
    padding: 0px;
    width: 470px;
    height: 340px;
    background-image: url(./assets/images/bg3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.posts .first .image4{
    margin: 0px;
    padding: 0px;
    width: 470px;
    height: 340px;
    background-image: url(./assets/images/bg4.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.posts .first .image5{
    margin: 0px;
    padding: 0px;
    width: 470px;
    height: 340px;
    background-image: url(./assets/images/bg5.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.posts .first .image6{
    margin: 0px;
    padding: 0px;
    width: 470px;
    height: 340px;
    background-image: url(./assets/images/bg6.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(4, 11, 36); 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #05b9f2; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  rgb(7, 34, 122); 
  }